<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Back2Study</title>
</head>
<body >
    <h1> BACK2STUDY 2 </h1>
    Hola Cónsola
    <br>
    <button type="button"><a href="/prueba" >Prueba</a></button>
</body>
</html>