<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <title>Back2Study</title>
    
</head>
<body >
    Hola
    <br>
    <button type="button"><a href="/prueba" >Prueba</a></button>
    
</body>
</html>