<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <title>Pagina principal</title>
    
</head>
<body >
    <h1> PRUEBA 2 </h1>
    PRUEBA NUEVA
    <br>
    <button type="button"><a href="/" >Inicio</a></button>
    
</body>
</html>